/* #e5c9c5 */
/* #f2f1f1 */
/* #d4bdbc */
* {
  box-sizing: border-box;
  font-family: Montserrat;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-weight: 400;
}
section:first-child {
  width: 60%;
  display: flex;
  margin: 0rem auto;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
section:first-child p {
  display: none;
  text-align: center;
  color: red;
}
section input,
button {
  width: 19%;
  font-size: 100%;
  font-weight: 290;
  padding: 0.7rem 1rem;
  border: 1px solid #e5c9c5;
  outline-color: #e5c9c5;
}
button {
  color: white;
  background-color: #e5c9c5;
  border: 0rem;
}
section:last-child {
  margin-top: 2rem;
}
.playerContainer {
  width: 75%;
  margin: 1rem auto;
  padding: 1rem 0.7rem;
  background-color: #e5c9c5;
  border-radius: 5px;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.playerDetails {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.playerNametime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
}
.name {
  font-size: 1.3rem;
  font-weight: 365;
  margin-bottom: 0.5rem;
}
.time {
  font-size: 0.8rem;
  font-weight: 350;
  color: rgb(112, 112, 112);
}
.country {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  min-width: 15%;
}
.score {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  min-width: 15%;
  overflow-y: hidden;
}
.playerScorecontroller {
  display: flex;
  width: 18%;
  justify-content: space-around;
  align-self: center;
}
.iconDel {
  display: flex;
  background-color: white;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.iconPlus5 {
  display: flex;
  background-color: white;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.iconMinus5 {
  display: flex;
  background-color: white;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.effect {
  display: none;
  opacity: 0.5;
  position: relative;
  left: -12px;
}
#plus5 {
  display: block;
  color: #0e7041;
  animation: add 3s ease 0s 1;
}
#minus5 {
  display: block;
  color: #fd5e53;
  animation: minus 3s ease 0s 1;
}

@keyframes add {
  0% {
    margin-top: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    margin-top: -30px;
    opacity: 0;
  }
}

@keyframes minus {
  0% {
    margin-bottom: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    margin-bottom: -40px;
    opacity: 0;
  }
}

@keyframes del {
  from {
    margin-left: 100px;
  }
  to {
    margin-left: 700px;
  }
}

@media screen and (max-width: 726px) {
  h1 {
    font-size: 1.5rem;
  }
  section input,
  button {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.2rem;
    border-radius: 5px;
  }
  section:first-child p {
    font-size: 0.9rem;
  }
  .playerDetails {
    width: 100%;
  }
  .playerScorecontroller {
    width: 25%;
  }
  .name {
    font-size: 1rem;
  }
  .time {
    font-size: 0.6rem;
  }
  .country {
    font-size: 0.9rem;
  }
  .score {
    font-size: 0.9rem;
  }
  .iconDel,
  .iconMinus5,
  .iconPlus5 {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 726px) and (max-width: 1120px) {
  section:first-child {
    width: 80%;
  }
  section input,
  button {
    font-size: 92%;
  }
  .playerContainer{
    width: 80%;
  }
  .playerDetails {
    width: 100%;
  }
  .playerScorecontroller {
    width: 25%;
  }
  .name {
    font-size: 1rem;
  }
  .time {
    font-size: 0.6rem;
  }
  .country {
    font-size: 0.9rem;
  }
  .score {
    font-size: 0.9rem;
  }
  .iconDel,
  .iconMinus5,
  .iconPlus5 {
    width: 30px;
    height: 30px;
  }
}
